extends layout

block content
  //-h2 #{title}: #[span(style='color: var(--h1-color') #{book.title}]
  h2 #{book.title}
  if book_instances.length
  
    p #[strong Delete the following book copies before attempting to delete this book.]
  
    div(style='margin-left:20px;margin-top:20px')

      h3 Book Instances(Copies)
          
      each copy in book_instances
        hr
        h4 ID: 
          a(href=copy.url) #{copy._id}
        p #[strong Imprint:] #{copy.imprint}

        if copy.status=='Available'
          p.my-success #{copy.status}

        else if copy.status=='Maintenance'
          p.my-danger #{copy.status}

        else
          p.my-warning #{copy.status} 

        if copy.status!='Available'
          p #[strong Due back:] #{copy.due_back}

  else
    p You may delete this book. Do you really want to delete this Book:
      h3 #{book.title}?
    
    form(method='POST' action='')
      div.form-group
        input(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete Book
  