extends layout

block content
  //-h1(class='header')= title
  -//
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h2 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul#genre-list
      li #[strong Books:] #[span.my-danger #{data.book_count}]
      li #[strong Copies:] #[span.my-danger #{data.book_instance_count}]
      li #[strong Copies available:] #[span.my-danger #{data.book_instance_available_count}]
      li #[strong Authors:] #[span.my-danger #{data.author_count}]
      li #[strong Genres:] #[span.my-danger #{data.genre_count}]
